.container {
  width: 70%;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.container > div:nth-child(1) {
  display: flex;
}

.select {
  color: rgb(40, 131, 188);
  width: 30%;
  font-size: 20px;
  margin-top: 50px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px;
  border: none;
}
option {
  color: rgb(40, 131, 188);
  font-weight: bold;
}

.weatherContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 50px;
}

.forecast {
  display: flex;
  flex-direction: column;
}
